.App {
  height: 100vh;
  display: flex;
  color: white;
}

.left {
  width: 70%;
  background-color: #ff6f00 ;
}

.appForm {
  width: 50%;
  background-color: #2E4158;
  padding: 25px 40px;
  overflow: auto;
}

.formCenter {
  margin-bottom: 100px;
}

.formTitle {
  color: #707C8B;
  font-weight: 300;
  margin-bottom: 50px;
}

.title {
  color: rgb(7, 71, 150);
  font-weight: 1000;
  font-size: 100px;
  padding-left: 27%;
}

.formTitleLink {
  color: #707C8B;
  text-decoration: none;
  display: inline-block;
  font-size: 1.7em;
  margin: 0 10px;
  padding-bottom: 5px;
}

.formTitleLink:first-child {
  margin-left: 0;
}

.formTitleLink--Active {
  color: white;
  border-bottom: 1px solid #ff6f00 ;
}

.formField {
  margin-bottom: 40px;
}

.formFieldLabel {
  display: block;
  text-transform: uppercase;
  font-size: .9em;
  color: white;
}

.formFieldInput {
  width: 85%;
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  border-bottom: 1px solid #445366;
  font-size: 1em;
  font-weight: 300;
  padding-bottom: 10px;
  margin-top: 10px;
}

.formFieldInput::placeholder {
  color: #616E7F;
}

.radioLabel{
  padding: 15px;
}

.formFieldButton {
  background-color: #ff6f00 ;
  color: white;
  border: none;
  outline: none;
  border-radius: 25px;
  padding: 15px 70px;
  font-size: .8em;
  font-weight: 500;
}

.formFieldLink {
  color: #66707D;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1.5px solid #ff6f00 ;
  padding-bottom: 5px;
}

.formFieldCheckboxLabel {
  color: #646F7D;
  font-size: .9em;
}

.formFieldRadio {
  position: relative;
  top: 1.5px;
}

.formFieldTermsLink {
  color: white;
  border-bottom: 1px solid #ff6f00 ;
  text-decoration: none;
  display: inline-block;
  padding-bottom: 2px;
  margin-left: 5px;
}
